	<div class="page-content">
		<div class="page-header">
							<h1>
								控制台
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>

									<i class="icon-ok green"></i>

									欢迎使用
									<strong class="green">
										管理平台
									</strong>	
								</div>
						<div>
							<a  class="btn btn-app btn-success no-radius" href="<{$URL1}>/welcome/mutilviewload"><i class="icon-twitter bigger-180"></i>redis 监控图</a>
							<a  class="btn btn-app btn-primary no-radius" href="<{$URL1}>/welcome/line">
								<i class="icon-comments bigger-180"></i>性能监控图</a>
							<a  class="btn btn-app btn-info" href="<{$URL1}>/welcome/redirect"><i class="icon-refresh bigger-180"></i>重定向</a>
							<a  class="btn btn-app btn-warning" href="<{$URL1}>/welcome/redirect1"><i class="icon-spinner icon-spin orange bigger-180"></i>重定向百度</a>
							<a  class="btn btn-app btn-pink" href="<{$URL1}>/welcome/ajax"><i class="icon-desktop icon-desktop bigger-180"></i>ajax异步调用DEMO</a>
						</div>



								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->







